.fa-arrow-down {
  color: red;
}

.fa-arrow-up {
  color: green;
}

.number {
  text-justify: auto;
}

.option-bar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.province-buttons-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.province-buttons-container .btn {
  margin-right: 15px;
  margin-bottom: 10px;
}

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}

.date-info {
  float: right;
}

.jumbotron {
  background-color: #dae5f4;
}

.table-row:nth-child(even) {
  background-color: #dae5f4;
}

.table-row:nth-child(odd) {
  background-color: #b8d1f3;
}

.chart-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #b8d1f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b8d1f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background-color: #dae5f4;
}

.province-container {
  margin-top: 10px;
}

.province-header {
  text-align: center;
  margin-bottom: 10px;
}

.left-toggle-label {
  margin-right: 5px;
}

.right-toggle-label {
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .left-toggle-label {
    display: none;
  }
  .right-toggle-label {
    display: none;
  }
}
